@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root{
    --color1: hsl(172, 67%, 45%);
    --color2: hsl(183, 100%, 15%);
    --color3: hsl(186, 14%, 43%);
    --color4: hsl(184, 14%, 56%);
    --color5: hsl(185, 41%, 84%);
    --color6: hsl(189, 41%, 97%);
    --color7: hsl(0, 0%, 100%);
    --color8: hsl(183, 79%, 24%);
    --color9: hsl(183, 87%, 21%);
    --color10: hsl(173, 61%, 77%);
    --color11: hsl(173, 100%, 27%);
}

body{
    margin: 0;
    padding: 0;
    background: var(--color5);
}
body, input, button{
    font-family: "Space Mono", sans-serif;
}
.logo{
    width: 68px;
    height: 42px;
}
main, aside{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}
aside{
    top: 19%;
}
main{
    background: var(--color7);
    padding: 1.5em 2em;
    border-radius: 1.2em;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
}
main section:last-child article{
    justify-content: space-between;
}
main, main section:last-child article{
    display: flex;
    align-items: center;
}
main section:last-child article:last-of-type{
    margin: 20px 0 100px 0;
}
.resetButton{
    background: var(--color1);
    width: 100%;
    border-radius: .3em;
    text-transform: uppercase;
    font-size: 1em;
    padding: .4em 0;
}
.resetButton:hover, .tipButton:hover{
    transition: .5s;
    background: var(--color10);
    color: var(--color8);
}
.resetButton.disabled{
    background: var(--color8);
    color: var(--color9);
}
main section:last-child{
    background: var(--color2);
    color: white;
    width: 258px;
    padding: 30px;
    border-radius: .7em;
    margin-left: 37px;
}
main section:last-child div{
    color: var(--color7);
    font-size: .7em;
    margin-bottom: -5px;
    letter-spacing: .5px;
}
main section:last-child span{
    color: var(--color4);
    font-size: .7em;
}
h1{
    font-size: 35px;
    color: var(--color1);
    margin: 0;
}
.inputDollar, .inputPerson{
    padding: .3em .5em;
    border-radius: .3em;
    align-items: center;
}
.inputDollar:has(input:focus), .inputPerson:has(input:focus), #custom:focus{
    outline: 1px solid var(--color11);
}
.inputPerson:has(input:focus.invalid), .inputPerson:has(input.invalid){
    outline: 1px solid red;
}
.inputDollar, .inputPerson, .gridTipButton button:last-child{
    background: var(--color6);
}
input::placeholder{
    color: var(--color4);
}
label, p, span{
    color: var(--color3);
    font-size: .78em;
}
input, button{
    border: none;
}
input{
    font-size: 20px;
    outline: none;
    text-align: end;
    background: none;
    color: var(--color2);
}
button{
    cursor: pointer;
}
.tipButton{
    background: var(--color2);
    color: var(--color7);
    font-size: 24px;
    border-radius: .2em;
}
.gridTipButton{
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(2, 40px);
    gap: 10px;
}
.gridTipButton button:last-child{
    color: var(--color8);
    font-size: 1.2em;
}
main>section section{
    margin: 30px 0;
}

main section:last-child h1::before{
    content: "$";
}
span{
    color: red;
}
.PeopleDiv{
    display: flex;
    justify-content: space-between;
}
#custom{
    border-radius: .2em;
}

@media (max-width: 740px) {
    main{
        display: grid;
        place-items: center;
        width: 350px;
        height: 603px;
        padding: 1em 0 2em;
        top: 55%;
    }
    aside{
        top: 7%;
    }
    main section:last-child{
        margin: 0;
    }
}
@media (max-width: 365px) {
    main{
        width: 330px;
        padding: 0 0 1em 0;
    }
    main section:last-child{
        width: 220px;
    }
    aside{
        top: 10%;
    }
    main section:last-child article:last-of-type{
        margin-bottom: 1em;
    }
    .gridTipButton{
        width: auto;
        grid-template-columns: repeat(2, 144.9px);
    }
}
@media (max-width: 340px) {
    main section{
        width: 95%;
    }
    main{
        width: 100%;
    }
}